<!DOCTYPE html>
<html>
    <head>
        <title>Anaji Kadam | MyProjects</title> 
        <link rel="stylesheet" href="/static/style.css">
    </head>
  <body>
        <div class="header">
            <div class="inner-header">
                <div class="logo"><a href="{{ url_for('index') }}">MyProjects</a>
                </div>         
           </div>
        </div>
        <div class="content">
            <div class="banner-image">
                <center>
                <div class="inner-banner-image">
                    <div class="banner_content">
                        <h1>Anaji Kadam</h1>
                        <h4><a href="https://www.linkedin.com/in/anaji-kadam-1944b2141/">LinkedIn: anaji-kadam-1944b2141</a></h4>
                        <h4><a href="https://github.com/anajikadam17">GitHub: anajikadam17</a></h4>
                    </div>
                     
                </div> 
                </center>
            </div>
            <div class="container">
                <div class="items">
                    <a href="{{ url_for('index') }}">
                        <img src="/static/images/b1.png" alt="a1"  class="thumbnail"/>
                        <div class="caption">
                            <h2>Project 1</h2>
                            <p>Predict Salary Analysis</p>
                        </div>
                    </a>
                </div>
                <div class="items">
                    <a href="{{ url_for('index') }}">
                        <img src="/static/images/b1.png" alt="a2"  class="thumbnail"/>
                        <div class="caption">
                            <h2>Project 2</h2>
                            <p>Spam Detector For Email Messages</p>
                        </div>
                    </a>
                </div>
                <div class="items">
                    <a href="{{ url_for('index') }}">
                        <img src="/static/images/b1.png" alt="a3"  class="thumbnail"/>
                        <div class="caption">
                            <h2>Project 3</h2>
                            <p>Flight Price Prediction</p>
                        </div>
                    </a>
                </div>
                <div class="items">
                    <a href="{{ url_for('index') }}">
                        <img src="/static/images/b1.png" alt="a1"  class="thumbnail"/>
                        <div class="caption">
                            <h2>Project 4</h2>
                            <p>...</p>
                        </div>
                    </a>
                </div>
                <div class="items">
                    <a href="{{ url_for('index') }}">
                        <img src="/static/images/b1.png" alt="a1"  class="thumbnail"/>
                        <div class="caption">
                            <h2>Project 5</h2>
                            <p>...</p>
                        </div>
                    </a>
                </div>
                <div class="items">
                    <a href="{{ url_for('index') }}">
                        <img src="/static/images/b1.png" alt="a1"  class="thumbnail"/>
                        <div class="caption">
                            <h2>Project 6</h2>
                            <p>...</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <center>
                    <p> Copyright © MyProjects. All Rights Reserved | Contact Me: anajikadam17@gmail.com | +91 00000 00000</p>
                </center> 
            </div>
        </footer>
  </body>
</html>
